# NSight report files
*.ncu-rep
*.nsys-rep
*.sqlite

# ROCm Profiler Compute files
workspace/ROCm/workloads/
.rocprofv*/

# Proton report files
*.hatchet

# Jupyer Notebook Server
.Trash-*
.ipynb_checkpoints
